https://www.kaggle.com/rounakbanik/the-movies-dataset
Instale o pacote do pandas da mesma forma que instalou-se o Jupyter (ex: `pip3 install pandas`)

**Preprocessamento**
-> Tipo de representação de valores categoricos
* Ator: Bag of Actors, #de vezes que este ator aparecem em filmes de <genero>
-> Fazer scale em valores numéricos? Discretizar?  
-> Como preprocessar datas?
-> Algumas colunas possuem valores faltantes, como tratá-lo? 
-> Novos atributos? 

**Método e modelagem**
-> Testar vários métodos?
-> Combinar métodos?
-> Classificação Hierarquica?
-> Como lidar com classe desbalanceada (undersampling/oversampling no treino? )

Lembrem-se: temos pouco tempo, então, faça de um jeito simples e, logo após, vá incrementando...

**Nâo é permitido**

Usar outro dataset

O conhecimento e geração dos atrtibutos/preprocessamente e método deve vir apenas no dataset `movies_amostra.csv`. Por ex, não é permitido adicionar um valor faltante a um filme baseado no seu conhecimento sobre o mesmo. 

Da mesma forma, o treino deve ser criado usando **apenas** as instancias do arquivo `movies_amostra.csv`.

**Não será fornecido o titulo dos dados a serem testados**


Reprodutibilidade: o código executado no computador do professor deve ter o mesmo resultado do resultado obtido pelos alunos

Erro no formato do `predict.txt` ou o arquivo tiver outro nome.

**Obtenha os dados: ** Use o comando [read_csv]() para ler os dados.

In [4]:
import pandas as pd
df_metadata = pd.read_csv("datasets_preproc/movies_metadata.csv")

/home/profhasan/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**Explore os dados:** Execute o método [`describe`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) - use o parametro `include` para exibir todas as colunas. Use outros comandos a vontade para conhecer melhor a base de dados.

In [5]:
df_metadata[df_metadata["title"] == "Zorro"]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
25400,False,"{'id': 1657, 'name': 'Zorro Collection', 'post...",0,"[{'id': 37, 'name': 'Western'}, {'id': 35, 'na...",NaN,18450,tt0072448,fr,Zorro,A newly arrived governor finds his province un...,...,1975-03-06,0.0,124.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,Zorro is back!,Zorro,False,7.0,17.0

Organização do genero

In [6]:
import json
def get_genre_prio(generos):
    arr_genre_priority = ["Comedy","Horror","Romance",'Mystery', "Action", "Adventure", "Drama",'Fantasy']
    pri_genre = ""
    has_comedy = False
    has_drama = False
    for genre_prio in arr_genre_priority:
        for dic_genre in generos:
            if dic_genre["name"] == "Comedy":
                has_comedy = True
            if dic_genre["name"] == "Drama":
                has_drama = True
            if dic_genre["name"] == genre_prio and pri_genre == "": 
                pri_genre = dic_genre["name"]
    if has_comedy and has_drama:
        return "Dramedy"
    #if pri_genre == None:
    #    print(f"Nao achou para: {generos}")
    return pri_genre
                
#comedia e dram juntos?
arr_main_genre = []
arr_formated_langs = []
for val in df_metadata["genres"]:
    generos = eval(val)
    
    arr_main_genre.append(get_genre_prio(generos))
    
    #print(generos)

df_metadata['main_genre'] = arr_main_genre


df_metadata[["title","main_genre","genres"]]

,title,main_genre,genres
0,Toy Story,Comedy,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,Adventure,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,Comedy,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,Dramedy,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,Comedy,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...
45461,Subdue,Drama,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n..."
45462,Century of Birthing,Drama,"[{'id': 18, 'name': 'Drama'}]"
45463,Betrayal,Action,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
45464,Satan Triumphant,,[]
45465,Queerama,,[]

In [7]:
df_metadata = df_metadata[df_metadata['main_genre'] != ""]

In [8]:
erros = 0
arr_id_to_remove = []
for id_movie in df_metadata['id']:
    try:
        id_movie_int = int(id_movie)
    except:
        arr_id_to_remove.append(id_movie)
        erros += 1
print(erros)

0

In [9]:
df_metadata = df_metadata[~df_metadata['id'].isin(arr_id_to_remove)]

Deixa o id como inteiro

In [10]:
df_metadata['id'] = df_metadata['id'].astype(int)

Distribuição dos dados:

In [11]:
df_metadata["main_genre"].value_counts()

Drama        9377
Comedy       8991
Action       4370
Dramedy      4191
Horror       4035
Romance      3536
Mystery      1410
Adventure     991
Fantasy       265
Name: main_genre, dtype: int64

In [19]:
df_metadata.to_csv("datasets_preproc/metadata_ok.csv")

## Credits

In [20]:
df_atores = pd.read_csv("datasets_preproc/credits.csv")

In [21]:
df_atores[0:100]["id"]

0       862
1      8844
2     15602
3     31357
4     11862
      ...
95      406
96    45549
97    63076
98    11062
99    13685
Name: id, Length: 100, dtype: int64

In [22]:
def find_job(crew,job,count=1):
    arr_position = [None for i in range(count)]
    last_pos = 0
    for member in crew:
        if member["job"] == job and last_pos<count:
            arr_position[last_pos] = member["name"]
            last_pos += 1
    return arr_position

arr_directors_1 = []
arr_directors_2 = []
arr_escrito_1 = []
arr_escrito_2 = []
arr_historia_original = []
for i,val in enumerate(df_atores["crew"]):
    crew = eval(val)
    director_1,director_2 = find_job(crew, "Director", 2)
    escrito_por_1,escrito_por_2 = find_job(crew, "Screenplay",2)
    historia = find_job(crew, "Original Story",1)[0]
    
    arr_directors_1.append(director_1)
    arr_directors_2.append(director_2)
    arr_escrito_1.append(escrito_por_1)
    arr_escrito_2.append(escrito_por_2)
    arr_historia_original.append(historia)
    
df_atores["dirigido_por"] = arr_directors_1
df_atores["escrito_por_1"] = arr_escrito_1
df_atores["escrito_por_2"] = arr_escrito_2
df_atores["historia_original"] = arr_historia_original

In [24]:
df_atores

,cast,crew,id,dirigido_por,escrito_por_1,escrito_por_2,historia_original
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,John Lasseter,Joss Whedon,Andrew Stanton,John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Joe Johnston,Jonathan Hensleigh,Greg Taylor,None
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Howard Deutch,None,None,None
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Forest Whitaker,Ronald Bass,Terry McMillan,None
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Charles Shyer,Nancy Meyers,Albert Hackett,None
...,...,...,...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,Hamid Nematollah,None,None,None
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,Lav Diaz,None,None,None
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,Mark L. Lester,C. Courtney Joyner,Jeffrey Goldenberg,None
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,Yakov Protazanov,None,None,None
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,Daisy Asquith,None,None,None

Extrai os atores

In [25]:
max_atores = 0
from IPython.display import clear_output

arr_atores_ord = [[],[],[],[],[]]
for i,val in enumerate(df_atores["cast"]):
    atores = eval(val)
    #print(atores[0])
    for j,arr_atores in enumerate(arr_atores_ord):
        if j<len(atores):
            arr_atores.append(atores[j]["name"])
        else:
            arr_atores.append(None)
            
    if i%10==0:
        clear_output(wait=True)
        print(f"{i}/{len(df_atores)}")

45470/45476

In [26]:
for i,arr_atores in enumerate(arr_atores_ord):
    df_atores[f"ator_{i+1}"] = arr_atores_ord[i]
df_atores

,cast,crew,id,dirigido_por,escrito_por_1,escrito_por_2,historia_original,ator_1,ator_2,ator_3,ator_4,ator_5
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,John Lasseter,Joss Whedon,Andrew Stanton,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wallace Shawn
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Joe Johnston,Jonathan Hensleigh,Greg Taylor,None,Robin Williams,Jonathan Hyde,Kirsten Dunst,Bradley Pierce,Bonnie Hunt
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Howard Deutch,None,None,None,Walter Matthau,Jack Lemmon,Ann-Margret,Sophia Loren,Daryl Hannah
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Forest Whitaker,Ronald Bass,Terry McMillan,None,Whitney Houston,Angela Bassett,Loretta Devine,Lela Rochon,Gregory Hines
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Charles Shyer,Nancy Meyers,Albert Hackett,None,Steve Martin,Diane Keaton,Martin Short,Kimberly Williams-Paisley,George Newbern
...,...,...,...,...,...,...,...,...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,Hamid Nematollah,None,None,None,Leila Hatami,Kourosh Tahami,Elham Korda,None,None
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,Lav Diaz,None,None,None,Angel Aquino,Perry Dizon,Hazel Orencio,Joel Torre,Bart Guingona
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,Mark L. Lester,C. Courtney Joyner,Jeffrey Goldenberg,None,Erika Eleniak,Adam Baldwin,Julie du Page,James Remar,Damian Chapa
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,Yakov Protazanov,None,None,None,Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov,Aleksandr Chabrov,Vera Orlova
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,Daisy Asquith,None,None,None,None,None,None,None,None

In [27]:
df_atores.to_csv("datasets_preproc/atores_ok.csv")

## Dataframe completo

In [29]:
import pandas as pd
df_metadata = pd.read_csv("datasets_preproc/metadata_ok.csv")

/home/profhasan/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
df_atores = pd.read_csv("datasets_preproc/atores_ok.csv")

In [32]:
df_movies = pd.merge(df_metadata, df_atores, on='id')

In [33]:
dic_traducao = {'title':'titulo','adult':'adulto', 'budget':'orcamento', 
                'original_language':'idioma_original',
       'popularity':'popularidade',
       'release_date':'data_de_estreia',
                'overview':'resumo',
        'revenue':'receita', 'runtime':'duracao',
                'main_genre':'genero'}
for nome_en,nome_pt in dic_traducao.items():
    print(f"{nome_en},{nome_pt}")
    df_movies[nome_pt] = df_movies[nome_en]

title,titulo
adult,adulto
budget,orcamento
original_language,idioma_original
popularity,popularidade
release_date,data_de_estreia
overview,resumo
revenue,receita
runtime,duracao
main_genre,genero

In [34]:
df_movies[['title','runtime','main_genre','ator_1','ator_2','ator_3',"dirigido_por"]]

,title,runtime,main_genre,ator_1,ator_2,ator_3,dirigido_por
0,Toy Story,81.0,Comedy,Tom Hanks,Tim Allen,Don Rickles,John Lasseter
1,Jumanji,104.0,Adventure,Robin Williams,Jonathan Hyde,Kirsten Dunst,Joe Johnston
2,Grumpier Old Men,101.0,Comedy,Walter Matthau,Jack Lemmon,Ann-Margret,Howard Deutch
3,Waiting to Exhale,127.0,Dramedy,Whitney Houston,Angela Bassett,Loretta Devine,Forest Whitaker
4,Father of the Bride Part II,106.0,Comedy,Steve Martin,Diane Keaton,Martin Short,Charles Shyer
...,...,...,...,...,...,...,...
37230,The Burkittsville 7,30.0,Horror,Monty Bane,Lucy Butler,David Grammer,Ben Rock
37231,Robin Hood,104.0,Romance,Patrick Bergin,Uma Thurman,David Morrissey,John Irvin
37232,Subdue,90.0,Drama,Leila Hatami,Kourosh Tahami,Elham Korda,Hamid Nematollah
37233,Century of Birthing,360.0,Drama,Angel Aquino,Perry Dizon,Hazel Orencio,Lav Diaz
37234,Betrayal,90.0,Action,Erika Eleniak,Adam Baldwin,Julie du Page,Mark L. Lester

Reorganizando atributos de popularidade

In [35]:
import math
df_movies["popularidade"] = (df_movies["popularidade"]/df_movies["popularidade"].max())*1000
arr_pop_vals = []
for pop in df_movies["popularidade"]:
    if  math.isnan(pop):
        arr_pop_vals.append(None)
    else:
        arr_pop_vals.append(int(pop))
df_movies["popularidade"] = arr_pop_vals

In [36]:
len(df_movies)

37235

In [37]:
df_movies = df_movies.drop_duplicates(subset=["id"])

In [38]:
len(df_movies)

37138

In [39]:
df_movies = df_movies.set_index("id")

In [40]:
#dados a serem exportados
arr_vals = [val for val in dic_traducao.values()]
[arr_vals.append(val) for val in ['ator_1','ator_2','ator_3','ator_4','ator_5',"dirigido_por", "escrito_por_1", "escrito_por_2","historia_original"]]
df_movies_ok = df_movies[arr_vals]

In [41]:
df_movies_ok

,titulo,adulto,orcamento,idioma_original,popularidade,data_de_estreia,resumo,receita,duracao,genero,ator_1,ator_2,ator_3,ator_4,ator_5,dirigido_por,escrito_por_1,escrito_por_2,historia_original
id,,,,,,,,,,,,,,,,,,,
862,Toy Story,False,30000000,en,40.0,1995-10-30,"Led by Woody, Andy's toys live happily in his ...",373554033.0,81.0,Comedy,Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wallace Shawn,John Lasseter,Joss Whedon,Andrew Stanton,John Lasseter
8844,Jumanji,False,65000000,en,31.0,1995-12-15,When siblings Judy and Peter discover an encha...,262797249.0,104.0,Adventure,Robin Williams,Jonathan Hyde,Kirsten Dunst,Bradley Pierce,Bonnie Hunt,Joe Johnston,Jonathan Hensleigh,Greg Taylor,NaN
15602,Grumpier Old Men,False,0,en,21.0,1995-12-22,A family wedding reignites the ancient feud be...,0.0,101.0,Comedy,Walter Matthau,Jack Lemmon,Ann-Margret,Sophia Loren,Daryl Hannah,Howard Deutch,NaN,NaN,NaN
31357,Waiting to Exhale,False,16000000,en,7.0,1995-12-22,"Cheated on, mistreated and stepped on, the wom...",81452156.0,127.0,Dramedy,Whitney Houston,Angela Bassett,Loretta Devine,Lela Rochon,Gregory Hines,Forest Whitaker,Ronald Bass,Terry McMillan,NaN
11862,Father of the Bride Part II,False,0,en,15.0,1995-02-10,Just when George Banks has recovered from his ...,76578911.0,106.0,Comedy,Steve Martin,Diane Keaton,Martin Short,Kimberly Williams-Paisley,George Newbern,Charles Shyer,Nancy Meyers,Albert Hackett,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289923,The Burkittsville 7,False,0,en,0.0,2000-10-03,A film archivist revisits the story of Rustin ...,0.0,30.0,Horror,Monty Bane,Lucy Butler,David Grammer,Bill Dreggors,Frank Pastor,Ben Rock,NaN,NaN,NaN
30840,Robin Hood,False,0,en,10.0,1991-05-13,"Yet another version of the classic epic, with ...",0.0,104.0,Romance,Patrick Bergin,Uma Thurman,David Morrissey,Jürgen Prochnow,Jeroen Krabbé,John Irvin,NaN,NaN,NaN
439050,Subdue,False,0,fa,0.0,NaN,Rising and falling between a man and woman.,0.0,90.0,Drama,Leila Hatami,Kourosh Tahami,Elham Korda,NaN,NaN,Hamid Nematollah,NaN,NaN,NaN
111109,Century of Birthing,False,0,tl,0.0,2011-11-17,An artist struggles to finish his work while a...,0.0,360.0,Drama,Angel Aquino,Perry Dizon,Hazel Orencio,Joel Torre,Bart Guingona,Lav Diaz,NaN,NaN,NaN
67758,Betrayal,False,0,en,1.0,2003-08-01,"When one of her hits goes wrong, a professiona...",0.0,90.0,Action,Erika Eleniak,Adam Baldwin,Julie du Page,James Remar,Damian Chapa,Mark L. Lester,C. Courtney Joyner,Jeffrey Goldenberg,NaN

In [42]:
def preprocess_text(df_data:pd.DataFrame):
    for i,resumo in enumerate(df_data["resumo"]):
        if type(resumo) != str:
            idx_item = df_data["resumo"].index[i]
            df_data.at[idx_item, 'resumo'] = ""
        if i%1000 == 0:
            print(f"{i}")
preprocess_text(df_movies_ok)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000

In [43]:
df_movies_ok["genero"]

id
862          Comedy
8844      Adventure
15602        Comedy
31357       Dramedy
11862        Comedy
            ...
289923       Horror
30840       Romance
439050        Drama
111109        Drama
67758        Action
Name: genero, Length: 37138, dtype: object

In [44]:
df_movies_ok["genero"].value_counts()

Drama        9368
Comedy       8990
Action       4368
Dramedy      4186
Horror       4033
Romance      3533
Mystery      1407
Adventure     988
Fantasy       265
Name: genero, dtype: int64

In [45]:
df_movies_ok.to_csv("datasets_preproc/movies_ok.csv")

## Faz amostragem - Action e Comedy

In [53]:
!python3 cria_bag_of_members.py

Bag of actors:
0/37138
^C
Traceback (most recent call last):
  File "cria_bag_of_members.py", line 53, in <module>
    df_bag_of_actors = cria_bag_of_terms(df_movies_ok, ["ator_1","ator_2","ator_3","ator_4","ator_5"])
  File "cria_bag_of_members.py", line 32, in cria_bag_of_terms
    dic_terms[term].append(0)
KeyboardInterrupt

In [46]:
import pandas as pd
df_movies_ok = pd.read_csv("datasets_preproc/movies_ok.csv")
df_movies_ok = df_movies_ok.drop_duplicates(subset=["id"])
df_movies_ok = df_movies_ok[df_movies_ok["genero"].isin(["Action","Comedy"])]
df_movies_ok

,id,titulo,adulto,orcamento,idioma_original,popularidade,data_de_estreia,resumo,receita,duracao,genero,ator_1,ator_2,ator_3,ator_4,ator_5,dirigido_por,escrito_por_1,escrito_por_2,historia_original
0,862,Toy Story,False,30000000,en,40.0,1995-10-30,"Led by Woody, Andy's toys live happily in his ...",373554033.0,81.0,Comedy,Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wallace Shawn,John Lasseter,Joss Whedon,Andrew Stanton,John Lasseter
2,15602,Grumpier Old Men,False,0,en,21.0,1995-12-22,A family wedding reignites the ancient feud be...,0.0,101.0,Comedy,Walter Matthau,Jack Lemmon,Ann-Margret,Sophia Loren,Daryl Hannah,Howard Deutch,NaN,NaN,NaN
4,11862,Father of the Bride Part II,False,0,en,15.0,1995-02-10,Just when George Banks has recovered from his ...,76578911.0,106.0,Comedy,Steve Martin,Diane Keaton,Martin Short,Kimberly Williams-Paisley,George Newbern,Charles Shyer,Nancy Meyers,Albert Hackett,NaN
5,949,Heat,False,60000000,en,32.0,1995-12-15,"Obsessive master thief, Neil McCauley leads a ...",187436818.0,170.0,Action,Al Pacino,Robert De Niro,Val Kilmer,Jon Voight,Tom Sizemore,Michael Mann,Michael Mann,NaN,NaN
6,11860,Sabrina,False,58000000,en,12.0,1995-12-15,An ugly duckling having undergone a remarkable...,0.0,127.0,Comedy,Harrison Ford,Julia Ormond,Greg Kinnear,Angie Dickinson,Nancy Marchand,Sydney Pollack,Barbara Benedek,David Rayfiel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37125,49277,The Hilarious Posters,False,0,en,0.0,1906-01-01,A wall full of advertising posters comes to life.,0.0,3.0,Comedy,Georges Méliès,NaN,NaN,NaN,NaN,Georges Méliès,NaN,NaN,NaN
37126,49271,The Devilish Tenant,False,0,en,1.0,1909-01-01,A man rents an apartment and furnishes it in r...,0.0,6.0,Comedy,André Méliès,Georges Méliès,NaN,NaN,NaN,Georges Méliès,NaN,NaN,NaN
37127,49280,The One-Man Band,False,0,fr,2.0,1900-01-01,A band-leader has arranged seven chairs for th...,0.0,1.0,Action,Georges Méliès,NaN,NaN,NaN,NaN,Georges Méliès,NaN,NaN,NaN
37128,106807,The Fat and Lean Wrestling Match,False,0,fr,0.0,1900-01-01,A series of fantastical wrestling matches.,0.0,2.0,Comedy,Jeanne d'Alcy,Georges Méliès,NaN,NaN,NaN,Georges Méliès,NaN,NaN,NaN
37137,67758,Betrayal,False,0,en,1.0,2003-08-01,"When one of her hits goes wrong, a professiona...",0.0,90.0,Action,Erika Eleniak,Adam Baldwin,Julie du Page,James Remar,Damian Chapa,Mark L. Lester,C. Courtney Joyner,Jeffrey Goldenberg,NaN

In [47]:
df_movies_ok["genero"].value_counts()

Comedy    8990
Action    4368
Name: genero, dtype: int64

In [49]:
rand_state = 202021
def amostra_movies(df_movies, qtd_amostra):
    df_movies_sample = df_movies.sample(n=qtd_amostra, random_state = rand_state)
    df_movies_sobra = df_movies.drop(df_movies_sample.index)
    return df_movies_sample,df_movies_sobra

df_movies_sample_treino,df_movies_sobra = amostra_movies(df_movies_ok, 3000)
df_movies_sample_ex,df_movies_sobra = amostra_movies(df_movies_sobra,10)
df_movies_sample_teste_1, df_movies_sobra = amostra_movies(df_movies_sobra, 5000)
df_movies_sample_teste_2, df_movies_sobra = amostra_movies(df_movies_sobra, 5000)

In [50]:
df_movies_sample_treino

,id,titulo,adulto,orcamento,idioma_original,popularidade,data_de_estreia,resumo,receita,duracao,genero,ator_1,ator_2,ator_3,ator_4,ator_5,dirigido_por,escrito_por_1,escrito_por_2,historia_original
8158,86295,Treasure of the Yankee Zephyr,False,0,en,2.0,1981-11-28,In a lake high in the mountains of New Zealand...,0.0,108.0,Action,Ken Wahl,Lesley Ann Warren,Donald Pleasence,George Peppard,Bruno Lawrence,David Hemmings,Everett De Roche,NaN,NaN
27361,289198,Redeemer,False,0,es,2.0,2014-09-18,A former hit-man for a drug cartel becomes a v...,0.0,88.0,Action,Marko Zaror,Loreto Aravena,Mauricio Diocares,José Luís Mósca,Noah Segan,Ernesto Díaz Espinoza,NaN,NaN,NaN
3934,24382,Big Deal on Madonna Street,False,0,it,11.0,1958-06-06,"Peppe, formerly a boxer, organizes the break-i...",0.0,106.0,Comedy,Vittorio Gassman,Renato Salvatori,Memmo Carotenuto,Rossana Rory,Carla Gravina,Mario Monicelli,Agenore Incrocci,Furio Scarpelli,NaN
3340,479,Shaft,False,46000000,en,13.0,2000-06-15,New York police detective John Shaft arrests W...,107196498.0,99.0,Action,Samuel L. Jackson,Jeffrey Wright,Christian Bale,Busta Rhymes,Dan Hedaya,John Singleton,NaN,NaN,NaN
8610,37712,Pistol Opera,False,0,ja,2.0,2001-10-27,"As one of Suzuki's last fims, it is related to...",0.0,112.0,Action,Makiko Esumi,Sayoko Yamaguchi,Hanae Kan,Masatoshi Nagase,Mikijiro Hira,Seijun Suzuki,Kazunori Ito,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22572,52448,Witch's Night Out,False,0,en,0.0,1978-10-27,"A witch, disgruntled by the fact that no one t...",0.0,28.0,Comedy,Gilda Radner,Catherine O'Hara,John Leach,John Leach,John Leach,John Leach,NaN,NaN,NaN
4085,26603,Vice Versa,False,0,en,17.0,1988-02-25,A mysterious oriental skull transforms a fathe...,0.0,98.0,Comedy,Judge Reinhold,Fred Savage,Corinne Bohrer,Swoosie Kurtz,Jane Kaczmarek,Brian Gilbert,NaN,NaN,NaN
29479,45438,Tokyo Raiders,False,0,cn,11.0,2000-01-28,"When a private eye, a jilted bride and a myste...",0.0,118.0,Comedy,Tony Leung Chiu-Wai,Kelly Chen,Ekin Cheng,Cecilia Cheung,Toru Nakamura,Jingle Ma,NaN,NaN,NaN
16072,114060,Me and the Colonel,False,0,en,1.0,1958-10-01,"Jacobowsky, a Jewish refugee, flees from the N...",0.0,109.0,Comedy,Danny Kaye,Curd Jürgens,Akim Tamiroff,Nicole Maurey,Françoise Rosay,Peter Glenville,George Froeschel,S.N. Behrman,NaN
6080,14030,"Hello, Dolly!",False,24000000,en,15.0,1969-12-12,"Matchmaker, Dolly Levi takes a trip to Yonkers...",33208099.0,146.0,Comedy,Barbra Streisand,Walter Matthau,Michael Crawford,Louis Armstrong,Marianne McAndrew,Gene Kelly,NaN,NaN,NaN

In [51]:
def verifica_igual(df_dataframe1, df_dataframe2):
    set_ids_1 = set(df_dataframe1["id"])
    set_ids_2 = set(df_dataframe2["id"])
    ids_igual = set_ids_1 & set_ids_2
    if len(ids_igual) >0:
        print(f"Existem IDs iguais! {ids_igual}")
    else:
        print("OK")

In [52]:
verifica_igual(df_movies_sample_treino, df_movies_sample_ex)
verifica_igual(df_movies_sample_treino, df_movies_sample_teste_1)
verifica_igual(df_movies_sample_treino, df_movies_sample_teste_2)
verifica_igual(df_movies_sample_teste_1, df_movies_sample_teste_2)

OK
OK
OK
OK

In [106]:
df_movies_sample_treino

,id,titulo,adulto,orcamento,idioma_original,popularidade,data_de_estreia,resumo,receita,duracao,genero,ator_1,ator_2,ator_3,ator_4,ator_5,dirigido_por,escrito_por_1,escrito_por_2,historia_original
8158,86295,Treasure of the Yankee Zephyr,False,0,en,2.0,1981-11-28,In a lake high in the mountains of New Zealand...,0.0,108.0,Action,Ken Wahl,Lesley Ann Warren,Donald Pleasence,George Peppard,Bruno Lawrence,David Hemmings,Everett De Roche,NaN,NaN
27361,289198,Redeemer,False,0,es,2.0,2014-09-18,A former hit-man for a drug cartel becomes a v...,0.0,88.0,Action,Marko Zaror,Loreto Aravena,Mauricio Diocares,José Luís Mósca,Noah Segan,Ernesto Díaz Espinoza,NaN,NaN,NaN
3934,24382,Big Deal on Madonna Street,False,0,it,11.0,1958-06-06,"Peppe, formerly a boxer, organizes the break-i...",0.0,106.0,Comedy,Vittorio Gassman,Renato Salvatori,Memmo Carotenuto,Rossana Rory,Carla Gravina,Mario Monicelli,Agenore Incrocci,Furio Scarpelli,NaN
3340,479,Shaft,False,46000000,en,13.0,2000-06-15,New York police detective John Shaft arrests W...,107196498.0,99.0,Action,Samuel L. Jackson,Jeffrey Wright,Christian Bale,Busta Rhymes,Dan Hedaya,John Singleton,NaN,NaN,NaN
8610,37712,Pistol Opera,False,0,ja,2.0,2001-10-27,"As one of Suzuki's last fims, it is related to...",0.0,112.0,Action,Makiko Esumi,Sayoko Yamaguchi,Hanae Kan,Masatoshi Nagase,Mikijiro Hira,Seijun Suzuki,Kazunori Ito,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22572,52448,Witch's Night Out,False,0,en,0.0,1978-10-27,"A witch, disgruntled by the fact that no one t...",0.0,28.0,Comedy,Gilda Radner,Catherine O'Hara,John Leach,John Leach,John Leach,John Leach,NaN,NaN,NaN
4085,26603,Vice Versa,False,0,en,17.0,1988-02-25,A mysterious oriental skull transforms a fathe...,0.0,98.0,Comedy,Judge Reinhold,Fred Savage,Corinne Bohrer,Swoosie Kurtz,Jane Kaczmarek,Brian Gilbert,NaN,NaN,NaN
29479,45438,Tokyo Raiders,False,0,cn,11.0,2000-01-28,"When a private eye, a jilted bride and a myste...",0.0,118.0,Comedy,Tony Leung Chiu-Wai,Kelly Chen,Ekin Cheng,Cecilia Cheung,Toru Nakamura,Jingle Ma,NaN,NaN,NaN
16072,114060,Me and the Colonel,False,0,en,1.0,1958-10-01,"Jacobowsky, a Jewish refugee, flees from the N...",0.0,109.0,Comedy,Danny Kaye,Curd Jürgens,Akim Tamiroff,Nicole Maurey,Françoise Rosay,Peter Glenville,George Froeschel,S.N. Behrman,NaN
6080,14030,"Hello, Dolly!",False,24000000,en,15.0,1969-12-12,"Matchmaker, Dolly Levi takes a trip to Yonkers...",33208099.0,146.0,Comedy,Barbra Streisand,Walter Matthau,Michael Crawford,Louis Armstrong,Marianne McAndrew,Gene Kelly,NaN,NaN,NaN

In [53]:
df_movies_sample_treino = df_movies_sample_treino.set_index("id")

In [54]:
import csv
df_movies_sample_treino.to_csv("datasets/movies_amostra.csv", quoting=csv.QUOTE_NONNUMERIC)

In [55]:
df_movies_sample_teste_1 = df_movies_sample_teste_1.set_index("id")
df_movies_sample_teste_2 = df_movies_sample_teste_2.set_index("id")
df_movies_sample_ex = df_movies_sample_ex.set_index("id")

In [63]:
import csv
def grava_amostra_teste(df_amostra,nom_arquivo):
    df_amostra["genero"].to_csv('y_'+nom_arquivo, quoting=csv.QUOTE_NONNUMERIC)
    df_amostra_sem = df_amostra.drop("genero", axis=1)
    df_amostra_sem.to_csv(nom_arquivo, quoting=csv.QUOTE_NONNUMERIC)
grava_amostra_teste(df_movies_sample_teste_1,"datasets/movies_amostra_teste_1.csv")    
grava_amostra_teste(df_movies_sample_teste_2,"datasets/movies_amostra_teste_2.csv")
grava_amostra_teste(df_movies_sample_ex,"datasets/movies_amostra_teste_ex.csv")

In [57]:
df_movies_sample_teste_1

,titulo,adulto,orcamento,idioma_original,popularidade,data_de_estreia,resumo,receita,duracao,genero,ator_1,ator_2,ator_3,ator_4,ator_5,dirigido_por,escrito_por_1,escrito_por_2,historia_original
id,,,,,,,,,,,,,,,,,,,
28736,Hot Lead & Cold Feet,False,0,en,2.0,1978-07-05,"Twin brothers -- one rough and tough, the othe...",0.0,90.0,Comedy,Jim Dale,Karen Valentine,Don Knotts,Jack Elam,Darren McGavin,Robert Butler,NaN,NaN,NaN
209406,The Right Kind of Wrong,False,0,en,10.0,2013-10-11,Leo the dishwasher falls in love with a bride ...,0.0,97.0,Comedy,Ryan Kwanten,Catherine O'Hara,Will Sasso,Sara Canning,Ryan McPartlin,Jeremiah S. Chechik,Megan Martin,NaN,NaN
32946,Jim Jefferies: Contraband,False,0,en,1.0,2008-11-10,Last year’s critically acclaimed show ‘30’ sol...,0.0,72.0,Comedy,Jim Jefferies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15497,Twelve O'Clock High,False,0,en,5.0,1949-12-21,In this story of the early days of daylight bo...,3225000.0,132.0,Action,Gregory Peck,Hugh Marlowe,Gary Merrill,Millard Mitchell,Dean Jagger,Henry King,Sy Bartlett,Beirne Lay Jr.,NaN
392142,Max & Leon,False,12156348,fr,10.0,2016-11-01,In this WW2 epic comedy – in the vein of “La G...,7900000.0,98.0,Comedy,Grégoire Ludig,David Marsais,Bernard Farcy,Dominique Pinon,Julien Pestel,Jonathan Barré,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10260,My New Partner,False,0,fr,3.0,1984-09-19,My New Partner is a 1984 French comedy film di...,0.0,107.0,Comedy,Philippe Noiret,Thierry Lhermitte,Régine,Grace de Capitani,Claude Brosset,Claude Zidi,Didier Kaminka,Claude Zidi,NaN
1694,Re-Animator,False,900000,en,18.0,1985-10-18,A dedicated student at a medical college and h...,2023414.0,86.0,Comedy,Jeffrey Combs,Bruce Abbott,Barbara Crampton,David Gale,Robert Sampson,Stuart Gordon,NaN,NaN,NaN
53086,Paragraph 78: Film One,False,0,ru,1.0,2007-02-21,The peoples of the world has finally managed t...,0.0,88.0,Action,Yuriy Kutsenko,Vladimir Vdovichenkov,Grigorij Sijatvinda,Stanislav Duzhnikov,Aleksandr Tyutin,Mikhail Khleborodov,NaN,NaN,NaN
69406,Rio Sex Comedy,False,0,en,1.0,2010-09-16,Is this possible to reconcile individual happi...,0.0,124.0,Comedy,Bill Pullman,Charlotte Rampling,Irène Jacob,NaN,NaN,Jonathan Nossiter,NaN,NaN,NaN
140595,Elaine Stritch: At Liberty,False,300000,en,0.0,2002-01-01,Judy at the Palace. Sinatra at Carnegie Hall. ...,0.0,140.0,Comedy,Elaine Stritch,NaN,NaN,NaN,NaN,Nick Doob,NaN,NaN,NaN

## Tratamentodos dados

In [2]:
import pandas as pd
df_amostra = pd.read_csv("datasets/movies_amostra.csv")
df_treino = df_amostra.sample(frac=0.8, random_state = 2001)
df_teste = df_amostra.drop(df_treino.index)

In [14]:
from competicao_am.preprocessamento_atributos_competicao import gerar_atributos_resumo
x_treino, x_teste = gerar_atributos_resumo(df_treino,df_teste)

In [6]:
def preprocess_text(df_data:pd.DataFrame):
    for i,resumo in enumerate(df_data["resumo"]):
        if type(resumo) != str:
            idx_item = df_data["resumo"].index[i]
            df_data.at[idx_item, 'resumo'] = ""
        if i%1000 == 0:
            print(f"{i}")
preprocess_text(df_treino)
preprocess_text(df_teste)

0
1000
2000
0

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer


dataset_treino = df_treino["resumo"]
#Coloquei norm=None apenas para não normalizar de acordo com o tamanho do documento 
#Geralmente, seria bom normalizar...porém fica mais facil de entender o resultado sem a normalização
vectorizer = TfidfVectorizer(norm="l2",max_df=0.1)
#a matriz X_treino é uma matriz esparsa - estruturada de tal forma para se economizar memoria
x_treino = vectorizer.fit_transform(dataset_treino)

In [8]:
pd.DataFrame(x_treino.toarray(),columns=vectorizer.get_feature_names())

,00,000,007,009,05pm,10,100,1000,1001,100th,...,özgüveni,łacińska,śliwą,światłem,şehirlere,şimdi,şte,że,życie,życiowe
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2397,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:


x_teste = vectorizer.transform(df_teste["resumo"])

In [15]:
pd.DataFrame(x_teste.toarray(),columns=vectorizer.get_feature_names())

AttributeError: 'DataFrame' object has no attribute 'toarray'

In [6]:
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report
from competicao_am.preprocessamento_atributos_competicao import gerar_atributos_resumo
def eval_model(x_treino,y_treino,x_teste,y_teste):
    clf = LinearSVC(random_state=2)

    #cria o treino
    clf.fit(x_treino, y_treino)
    #realiza a predição 
    y_result = clf.predict(x_teste)
    
    print(classification_report(y_teste, y_result))
x_treino, x_teste = gerar_atributos_resumo(df_treino,df_teste)
eval_model(x_treino,df_treino["genero"], x_teste, df_teste["genero"])

              precision    recall  f1-score   support

      Action       0.78      0.65      0.71       209
      Comedy       0.83      0.91      0.86       391

    accuracy                           0.81       600
   macro avg       0.81      0.78      0.79       600
weighted avg       0.81      0.81      0.81       600

In [3]:
from base_am.resultado import Fold
from base_am.avaliacao import Experimento
from competicao_am.metodo_competicao import MetodoCompeticao
from competicao_am.avaliacao_competicao import OtimizacaoObjetivoSVMCompeticao

from sklearn.svm import LinearSVC
import pandas as pd
df_amostra = pd.read_csv("datasets/movies_amostra.csv")

df_treino = df_amostra.sample(frac=0.8, random_state = 2001)
df_teste = df_amostra.drop(df_treino.index)

scikit_method = LinearSVC(random_state=2)
ml_method = MetodoCompeticao(scikit_method)
resultado = ml_method.eval(df_treino, df_teste, "genero")

0/2400
1000/2400
2000/2400
0/600

/home/profhasan/.local/lib/python3.6/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

              precision    recall  f1-score   support

           0       0.10      0.58      0.17        36
           1       0.96      0.67      0.79       564

    accuracy                           0.66       600
   macro avg       0.53      0.62      0.48       600
weighted avg       0.91      0.66      0.75       600

              precision    recall  f1-score   support

           0       0.65      0.78      0.71       172
           1       0.91      0.83      0.86       428

    accuracy                           0.81       600
   macro avg       0.78      0.81      0.79       600
weighted avg       0.83      0.81      0.82       600

In [1]:
2**5

32

In [2]:
resultado.macro_f1

0.7865651408958496

In [263]:
#realiza a predição 
y_result = clf.predict(x_teste)

In [264]:

y_teste = df_teste["genero"]
print(classification_report(y_teste, y_result))

              precision    recall  f1-score   support

      Action       0.78      0.66      0.71       313
      Comedy       0.85      0.91      0.88       687

    accuracy                           0.83      1000
   macro avg       0.82      0.79      0.80      1000
weighted avg       0.83      0.83      0.83      1000

## Ajustes - Bag of staff members

In [248]:
import pandas as pd
df_movies_ok = pd.read_csv("movies_ok.csv")
df_movies_ok = df_movies_ok.drop_duplicates(subset=["id"])

In [176]:
import pandas as pd
from typing import List, Dict, Set
import gc
import numpy as np

class BagOfItems:
    def __init__(self, min_occur:int):
        
        #minimo de ocorrencias para um item ser considerado
        self.min_occur = min_occur

        """
        para cada item, haverá sua coluna correspondente
        dic_items mapeia o item para sua coluna
        """
        self.dic_items = {}
        self.set_cols_to_delete = set()
    
    def cria_bag_of_items(self, df:pd.DataFrame, arr_column_names:List[str], 
                          remove_min_occur:bool =True) -> pd.DataFrame:

        if len(self.dic_items)==0:
            self.dic_items = self._cria_mapeamento_item_coluna(df , arr_column_names)
                            
        #faz a matriz
        mat_bot,arr_ids = self._cria_matriz_bag_of_items(df, arr_column_names)
        
        #navega na coluna e identifica os itens que ocorreram menos que self.min_occur vezes
        set_cols_idx_to_delete = set()
        if remove_min_occur:
            for j in range(mat_bot.shape[1]):
                num_occur = mat_bot[:,j].sum()
                if num_occur < self.min_occur:
                    set_cols_idx_to_delete.add(j)
                
        #cria dataframe por meio da matriz e dos ids
        return self._cria_dataframe(mat_bot, arr_ids, set_cols_idx_to_delete)
    
    #aplica bag of itens já criado em um dataframe
    def aplica_bag_of_items(self,df:pd.DataFrame, arr_column_names:List[str]) -> pd.DataFrame:
        if len(self.dic_items) == 0:
            print("Ainda não foi criado o mapeamento do bag of items!")
            return None
        
        return self.cria_bag_of_items(df, arr_column_names, remove_min_occur=False)
    
    def _cria_mapeamento_item_coluna(self, df:pd.DataFrame , arr_column_names:List[str]) -> Dict[int,str]:
        dic_items = {}
        idx_item = 0
        for column_name in arr_column_names:
            for item in df[column_name]:
                if item not in dic_items:
                    dic_items[item] = idx_item
                    idx_item += 1
        
        return dic_items
    def _cria_matriz_bag_of_items(self, df:pd.DataFrame, arr_column_names:List[str]) -> np.ndarray:
        
        #essa matriz cada linha é uma instancia e cada coluna corresponde a ocorrencia de um item (0 ou 1)
        #cria uma matriz len(df) x idx_item para armazenar o "Bag of items"
        mat_bot = np.zeros((len(df),len(self.dic_items)),dtype=np.byte)

        #preenche a matriz com a presença de cada item
        arr_ids = []
        for i in range(len(df)):
            #adiciona o id do filme
            arr_ids.append(df.iloc[i]["id"])

            #navega nas colunas
            for column_name in arr_column_names:
                #obtem o item dessa instancia
                item_in_instance = df.iloc[i][column_name]
                if item_in_instance in self.dic_items: 
                    #obtem a coluna correspondente a esse item
                    idx_item = self.dic_items[item_in_instance]
                    #define como presente este item nesta instancia
                    mat_bot[i][idx_item] += 1
            #print(mat_bot)
            if i%1000 == 0:
                print(f"{i}/{len(df)}")
                
        return mat_bot, arr_ids
    def _cria_dataframe(self, mat_bot:np.ndarray, arr_ids:List[int], 
                            set_cols_idx_to_delete:Set[int]) -> pd.DataFrame:
        set_cols_name_to_delete = set()
        
        #cria os nomes das colunas a partir dos itens
        arr_columns = ["" for i in range(len(self.dic_items.keys()))]
        for item_name, item_idx in self.dic_items.items():
            if item_idx in set_cols_idx_to_delete:
                set_cols_name_to_delete.add(item_name)

            arr_columns[item_idx] = item_name

        
        #armazena e retorna o dataframe correspondente
        df_data = pd.DataFrame(mat_bot,columns=arr_columns)
        df_data["id"] = arr_ids
        #elimina as colunas desejadas
        if len(set_cols_name_to_delete)>0:
            self.set_cols_to_delete = set_cols_name_to_delete
        
        if len(self.set_cols_to_delete)>0:
            df_data.drop(self.set_cols_to_delete, axis = 1, inplace = True)
            

        return df_data

In [28]:
df_treino.set_index("id")
df_teste.set_index("id")

(10, 12)

In [209]:
df_movies_treino = df_movies_ok[df_movies_ok["id"].isin([862,568, 11395, 17934, 21032])]
df_movies_treino

,Unnamed: 0,titulo,adulto,orcamento,idioma_original,popularidade,data_de_estreia,resumo,receita,duracao,genero,id,ator_1,ator_2,ator_3,ator_4,ator_5,dirigido_por
0,0,Toy Story,False,30000000,en,40.0,1995-10-30,"Led by Woody, Andy's toys live happily in his ...",373554033.0,81.0,Comedy,862,Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wallace Shawn,John Lasseter

In [143]:
df_movies_teste = df_movies_ok[df_movies_ok["id"].isin([568, 329, 2614, 9446, 46094])]
df_movies_teste

,Unnamed: 0,titulo,adulto,orcamento,idioma_original,popularidade,data_de_estreia,resumo,receita,duracao,genero,id,ator_1,ator_2,ator_3,ator_4,ator_5,dirigido_por
137,137,Apollo 13,False,52000000,en,34.0,1995-06-30,The true story of technical troubles that scut...,355237933.0,140.0,Drama,568,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,Ed Harris,Ron Howard
380,380,The Air Up There,False,17080000,en,3.0,1994-01-07,Jimmy Dolan is a college basketball coach who ...,21011500.0,107.0,Comedy,46094,Kevin Bacon,Charles Gitonga Maina,Yolanda Vazquez,Mabutho 'Kid' Sithole,Sean McCann,Paul Michael Glaser
445,445,Jurassic Park,False,63000000,en,16.0,1993-06-11,A wealthy entrepreneur secretly creates a them...,920100000.0,127.0,Adventure,329,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,Bob Peck,Steven Spielberg
1308,1308,Jungle 2 Jungle,False,0,en,23.0,1997-03-07,"Uptight New York City executive, Michael Cromw...",0.0,97.0,Comedy,9446,Tim Allen,Martin Short,JoBeth Williams,Lolita Davidovich,Sam Huntington,John Pasquin
3695,3695,Innerspace,False,0,en,18.0,1987-06-30,Test pilot Tuck Pendleton volunteers to test a...,25893810.0,120.0,Comedy,2614,Martin Short,Dennis Quaid,Meg Ryan,Kevin McCarthy,Fiona Lewis,Joe Dante

In [181]:
df_treino.set_index("id")
df_teste.set_index("id")

,Unnamed: 0,titulo,adulto,orcamento,idioma_original,popularidade,data_de_estreia,resumo,receita,duracao,genero,ator_1,ator_2,ator_3,ator_4,ator_5,dirigido_por
id,,,,,,,,,,,,,,,,,
18450,22009,Zorro,False,0,fr,5.0,1975-03-06,A newly arrived governor finds his province un...,0.0,124.0,Comedy,Alain Delon,Ottavia Piccolo,Moustache,Enzo Cerusico,Giampiero Albertini,Duccio Tessari
26728,22310,Garfield's Fun Fest,False,0,en,2.0,2008-08-30,Garfield emerges victorious at the end of ever...,0.0,79.0,Comedy,Frank Welker,Tim Conway,Gregg Berger,Wally Wingert,Audrey Wasilewski,Mark A.Z. Dippé
140036,17022,Olympian Holiday,False,0,fi,0.0,1976-12-17,"After a mixup at the check-in, Aimo Niemi boar...",0.0,108.0,Comedy,Antti Litja,NaN,NaN,NaN,NaN,Risto Jarva
40930,6830,If You Only Knew,False,0,en,0.0,2000-03-05,A romantic comedy about a young man who fakes ...,0.0,0.0,Comedy,Johnathon Schaech,Alison Eastwood,James Le Gros,Gabrielle Anwar,Paul Sampson,David Snedeker
317930,33159,Compadres,False,3000000,es,1.0,2016-03-31,A disgruntled Mexican cop is forced to work wi...,0.0,101.0,Comedy,Omar Chaparro,Joey Morgan,Aislinn Derbez,Eric Roberts,Camila Sodi,Enrique Begné
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19918,13146,Spread,False,0,en,20.0,2009-01-16,"In Los Angeles, Nikki is homeless, car-less an...",12032983.0,97.0,Comedy,Ashton Kutcher,Anne Heche,Margarita Levieva,Sebastian Stan,Ashley Johnson,David Mackenzie
335051,30380,God Willing,False,0,it,6.0,2015-04-09,"The son of an atheist, authoritarian father, b...",0.0,87.0,Comedy,Marco Giallini,Alessandro Gassman,Laura Morante,Ilaria Spada,Edoardo Pesce,Edoardo Falcone
92727,29378,Ninja Death,False,0,zh,0.0,1987-01-01,Tiger is the owner of a brothel who moonlights...,0.0,83.0,Action,Fei Meng,Alexander Lo Rei,NaN,NaN,NaN,Joseph Kuo
267035,31033,Oh Jonathan – oh Jonathan!,False,0,de,0.0,1973-05-09,NaN,0.0,NaN,Comedy,Heinz Rühmann,Franziska Oehme,Paul Dahlke,Peter Fricke,Paul Verhoeven,Franz Peter Wirth
46884,7509,They Came to Cordura,False,0,en,1.0,1959-06-01,"An army major, himself guilty of cowardice, is...",0.0,123.0,Action,Gary Cooper,Rita Hayworth,Van Heflin,Tab Hunter,Richard Conte,Robert Rossen

In [271]:
print("Bag of actors: ")
bag_of_actors = BagOfItems(2)
df_bag_of_actors_treino = bag_of_actors.cria_bag_of_items(df_treino, ["ator_1","ator_2","ator_3","ator_4","ator_5"])
df_bag_of_actors_treino

Bag of actors:
0/3000
1000/3000
2000/3000

,Mickey Rourke,Samuel L. Jackson,Wesley Snipes,Victor Mature,Groucho Marx,Hrithik Roshan,Charlie Sheen,Margaret Cho,Lauren Holly,Norman Wisdom,...,Kuranosuke Sasaki,Julius Harris,Gene Evans,Bruce McGill,Karel Roden,Taylor Mason,Liam Cunningham,Jon Gries,Cho Jin-woong,id
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,86201
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,41977
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,360387
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,45147
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,9889
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8202
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,165
2998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,254869
2999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,74779

In [272]:
df_bag_of_actors_teste = bag_of_actors.aplica_bag_of_items(df_teste, ["ator_1","ator_2","ator_3","ator_4","ator_5"])

0/1000

In [ ]:
len()

In [273]:
df_bag_of_actors_teste

,Mickey Rourke,Samuel L. Jackson,Wesley Snipes,Victor Mature,Groucho Marx,Hrithik Roshan,Charlie Sheen,Margaret Cho,Lauren Holly,Norman Wisdom,...,Kuranosuke Sasaki,Julius Harris,Gene Evans,Bruce McGill,Karel Roden,Taylor Mason,Liam Cunningham,Jon Gries,Cho Jin-woong,id
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,82700
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,42453
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,163313
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,61178
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,26326
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,61002
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,99875
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,35189
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11484

In [274]:
df_movies_genero = df_movies_ok[["id","genero"]]
df_movies_treino = pd.merge(df_movies_genero, df_bag_of_actors_treino, on='id')
df_movies_teste = pd.merge(df_movies_genero, df_bag_of_actors_teste, on='id')

In [276]:
df_movies_teste

,id,genero,Mickey Rourke,Samuel L. Jackson,Wesley Snipes,Victor Mature,Groucho Marx,Hrithik Roshan,Charlie Sheen,Margaret Cho,...,Ed Lauter,Kuranosuke Sasaki,Julius Harris,Gene Evans,Bruce McGill,Karel Roden,Taylor Mason,Liam Cunningham,Jon Gries,Cho Jin-woong
0,9091,Action,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,Comedy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,197,Action,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,33542,Comedy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,11066,Comedy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31486,Comedy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,461053,Action,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,421126,Comedy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,39164,Comedy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,106807,Comedy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [266]:
len(set(df_movies_genero["id"]))

13358

In [267]:
len(list(df_movies_genero["id"]))

13358

In [228]:
df_movies_genero

           id     genero
0         862     Comedy
1        8844  Adventure
2       15602     Comedy
3       31357    Dramedy
4       11862     Comedy
...       ...        ...
37230  289923     Horror
37231   30840    Romance
37232  439050      Drama
37233  111109      Drama
37234   67758     Action

[37235 rows x 2 columns]

In [249]:
set_ids = set()
ids_repetidos = []
for id_movie in df_movies_genero["id"]:
    if id_movie in set_ids:
        ids_repetidos.append(id_movie)
    set_ids.add(id_movie)
ids_repetidos

[105045,
 105045,
 105045,
 132641,
 132641,
 132641,
 22649,
 22649,
 22649,
 10991,
 10991,
 10991,
 110428,
 110428,
 110428,
 15028,
 15028,
 15028,
 12600,
 12600,
 12600,
 109962,
 109962,
 109962,
 4912,
 4912,
 4912,
 5511,
 5511,
 5511,
 23305,
 23305,
 23305,
 69234,
 69234,
 69234,
 14788,
 14788,
 14788,
 77221,
 77221,
 77221,
 13209,
 13209,
 13209,
 141971,
 141971,
 141971,
 141971,
 141971,
 141971,
 141971,
 141971,
 168538,
 168538,
 168538,
 97995,
 97995,
 97995,
 18440,
 18440,
 18440,
 11115,
 11115,
 11115,
 42495,
 42495,
 42495,
 99080,
 99080,
 99080,
 25541,
 25541,
 25541,
 119916,
 119916,
 119916,
 152795,
 152795,
 152795,
 265189,
 265189,
 265189,
 116723,
 3057,
 199591,
 24023,
 24026,
 11752,
 157301,
 9755,
 123634,
 8767,
 43629,
 298721,
 298721,
 298721]

In [231]:
df_movies_ok[df_movies_ok["id"].isin([105045, 24023])]

,Unnamed: 0,titulo,adulto,orcamento,idioma_original,popularidade,data_de_estreia,resumo,receita,duracao,genero,id,ator_1,ator_2,ator_3,ator_4,ator_5,dirigido_por
631,631,The Promise,False,0,de,0.0,1995-02-16,"East-Berlin, 1961, shortly after the erection ...",0.0,115.0,Romance,105045,Corinna Harfouch,Meret Becker,August Zirner,Eva Mattes,Hark Bohm,Margarethe von Trotta
632,632,The Promise,False,0,de,0.0,1995-02-16,"East-Berlin, 1961, shortly after the erection ...",0.0,115.0,Romance,105045,Corinna Harfouch,Meret Becker,August Zirner,Eva Mattes,Hark Bohm,Margarethe von Trotta
633,633,The Promise,False,0,de,0.0,1995-02-16,"East-Berlin, 1961, shortly after the erection ...",0.0,115.0,Romance,105045,Corinna Harfouch,Meret Becker,August Zirner,Eva Mattes,Hark Bohm,Margarethe von Trotta
634,634,The Promise,False,0,de,0.0,1995-02-16,"East-Berlin, 1961, shortly after the erection ...",0.0,115.0,Romance,105045,Corinna Harfouch,Meret Becker,August Zirner,Eva Mattes,Hark Bohm,Margarethe von Trotta
22395,22395,Johan Falk: GSI - Gruppen för särskilda insatser,False,0,en,3.0,2009-06-25,Johan works in tandem with the GSI organized c...,0.0,113.0,Action,24023,Jakob Eklund,Joel Kinnaman,Mikael Tornving,Meliz Karlge,Reuben Sallmander,Anders Nilsson
22396,22396,Johan Falk: GSI - Gruppen för särskilda insatser,False,0,en,3.0,2009-06-25,Johan works in tandem with the GSI organized c...,0.0,113.0,Action,24023,Jakob Eklund,Joel Kinnaman,Mikael Tornving,Meliz Karlge,Reuben Sallmander,Anders Nilsson

In [277]:
x_treino = df_movies_treino.drop(["id","genero"],axis = 1)
y_treino = df_movies_treino["genero"]
x_teste = df_movies_teste.drop(["id","genero"],axis = 1)
y_teste = df_movies_teste["genero"]

eval_model(x_treino,y_treino,x_teste,y_teste)

              precision    recall  f1-score   support

      Action       0.66      0.42      0.51       313
      Comedy       0.77      0.90      0.83       687

    accuracy                           0.75      1000
   macro avg       0.72      0.66      0.67      1000
weighted avg       0.74      0.75      0.73      1000

In [121]:
df_bag_of_actors

   Tom Hanks  Kevin Bacon  Tim Allen  Martin Short     id
0          1            0          1             0    862
1          0            1          0             0  21032
2          1            1          0             0    568
3          0            0          1             0  11395
4          0            1          0             0  46094
5          0            0          0             0    329
6          0            0          1             1   9446
7          0            0          0             1   2614

In [14]:
df_bag_of_actors.to_csv("bag_of_actors.csv")

OSError: [Errno 28] No space left on device

In [ ]:
import numpy as np
np.zeros((10,10))

In [ ]:
df_movies = pd.merge(df_metadata, df_bag_of_actors, on='id')

## Amostragem